@import 'global';

html {
    font-size: 16px;
    @include respond-to(mobile) {
        font-size: 13.6px;
    }
}

body {
    margin: 0;
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.respond-to-tester::after {
        content: "";
        position: fixed;
        z-index: 20;
        margin: 1em;
        width: 1em;
        height: 1em;
        background-color: #444;
        font-size: 3em;
        @include respond-to(landscape) {
            content: "";
            width: 1.681em;
            height: 1em;
            background-color: white;
        }
        @include respond-to(portrait) {
            content: "";
            width: 1em;
            height: 1.681em;
            background-color: black;
        }
    }

    &.respond-to-tester::before {
        content: "";
        color: black;
        z-index: 10;
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: grey;
        color: white;
        font-weight: bold;
        font-family: $mono-font;
        font-size: 2em;
        @include respond-to(mobile) {
            background-color: red;
            content: "mobile";
        }
        @include respond-to(laptop) {
            background-color: blue;
            content: "laptop";
        }
        @include respond-to(desktop) {
            background-color: green;
            content: "desktop";
        }
    }
}

$loading-size: 31px;
$loading-border: 16px;
$loading-color: red;

tt {
    font-family: $mono-font;
}

#loading {
    transition: opacity 0.5s ease-in-out;
    &.loaded { opacity: 0; }

    &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: $loading-size;
        height: $loading-size;
        border-radius: $loading-border;
        border: 0 solid $loading-color;
        animation: loading 1.2s infinite reverse linear;

        @keyframes loading {
            0% {
                background-color: black;
                border-color: $loading-color;
                border-width: 0;
                opacity: 0;
            }
            50% {
                background-color: black;
                border-color: $loading-color;
                border-width: $loading-border;
                opacity: 1;
            }
            50.001% {
                background-color: $loading-color;
                border-color: black;
                border-width: 0;
                opacity: 1;
            }
            100% {
                background-color: $loading-color;
                border-color: black;
                border-width: $loading-border;
                opacity: 0;
            }
        }
    }
}

#sinusoides {
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $main-font-stack;
    &.main-font-loaded { font-family: $main-font; }
}

.page {
    position: absolute;
    width: 100%;
    min-height: 100%;
    pointer-events: none;
    * { pointer-events: auto; }
}

.fixed-page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    * { pointer-events: auto; }
}

a, a:hover,
a:active,
a:focus {
    outline: 0;
}

.hidden { display: none; }

.links a, .linksinv a {
    color: #444444;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    @include hover-or-active {
        color: red;
    }
}

.linksinv a {
    color: white;
    @include hover-or-active {
        color: red;
    }
}

.control {
    @extend .noselect;
    fill: white;
    transition: fill 300ms ease-in-out;
    @include hover-or-active { fill: red; }
    &.disabled {
        opacity: 0.25;
        @include hover-or-active { fill: white; }
    }
}

.clear {
    width: 100%;
    clear: both !important;
    display: block;
}

::-mox-selection {
    background-color: transparent;
    color: red;
}

::selection {
    background-color: rgba(48, 48, 48, 0.5);
    color: red;
}

.title {
    @extend .noselect;
}