@font-face {
    font-family: "Arimo";
    src: local("Arimo"),
    /**/ local("Arimo-Regular"),
    /**/ url(/static/files/Arimo-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Arimo";
    src: local("Arimo-Bold"),
    /**/ url(/static/files/Arimo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Arimo";
    src: local("Arimo-Italic"),
    /**/ url(/static/files/Arimo-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: local("Inconsolata"),
    /**/ local("Inconsolata-Regular"),
    /**/ url(/static/files/Inconsolata-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Inconsolata";
    font-weight: bold;
    src: local("Inconsolata-Bold"),
    /**/ url(/static/files/Inconsolata-Bold.ttf);
}


@font-face {
    font-family: "Linux Libertine";
    src: local("Linux Libertine"),
    /**/ local("LinuxLibertine-Regular"),
    /**/ url(/static/files/LinLibertine_R.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Linux Libertine";
    src: local("LinuxLibertine-Bold"),
    /**/ url(/static/files/LinLibertine_RB.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine";
    src: local("LinuxLibertine-Italic"),
    /**/ url(/static/files/LinLibertine_I.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Linux Libertine";
    src: local("LinuxLibertine-BoldItalic"),
    /**/ url(/static/files/LinLibertine_RBI.ttf);
    font-weight: bold;
    font-style: italic;
}
