@font-face {
    font-family: "Arimo";
    src: local("Arimo"),
    /**/ local("Arimo-Regular"),
    /**/ url(/static/files/Arimo-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Arimo";
    src: local("Arimo-Bold"),
    /**/ url(/static/files/Arimo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Arimo";
    src: local("Arimo-Italic"),
    /**/ url(/static/files/Arimo-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: local("Inconsolata"),
    /**/ local("Inconsolata-Regular"),
    /**/ url(/static/files/Inconsolata-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Inconsolata";
    font-weight: bold;
    src: local("Inconsolata-Bold"),
    /**/ url(/static/files/Inconsolata-Bold.ttf);
}
