
$main-font: Arimo;
$main-font-stack:
/**/   "Liberation Sans",
/**/   "Helvetica Neue", HelveticaNeue,
/**/   "TeX Gyre Heros", TeXGyreHeros,
/**/   FreeSans, "Nimbus Sans L",
/**/   Helvetica, Arial,
/**/   sans-serif;

$mono-font: Inconsolata;
$mono-font-stack:
/**/  Consolas,
/**/  ‘Andale Mono WT’, ‘Andale Mono’,
/**/  ‘Lucida Console’, ‘Lucida Sans Typewriter’,
/**/  ‘DejaVu Sans Mono’, ‘Bitstream Vera Sans Mono’,
/**/  ‘Liberation Mono’, ‘Nimbus Mono L’,
/**/  Monaco, ‘Courier New’, Courier,
/**/  monospace;

$serif-font: "Linux Libertine";

$page-anim-full: 3000ms;
$page-anim-half: 1500ms;
$page-anim-third: 1000ms;
$page-anim-two-third: 1000ms;

@mixin filter($thefilter) {
    filter: $thefilter;
    -o-filter: $thefilter;
    -ms-filter: $thefilter;
    -moz-filter: $thefilter;
    -webkit-filter: $thefilter;
}
