@font-face {
    font-family: "Arimo";
    src: url(/static/files/Arimo-Regular.ttf);
}
@font-face {
    font-family: "Arimo";
    src: url(/static/files/Arimo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Arimo";
    src: url(/static/files/Arimo-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Arimo";
    src: url(/static/files/Arimo-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url(/static/files/Inconsolata-Regular.ttf);
}
@font-face {
    font-family: "Inconsolata";
    font-weight: bold;
    src: url(/static/files/Inconsolata-Bold.ttf);
}

$page-anim-full: 3000ms;
$page-anim-half: 1500ms;
$page-anim-third: 1000ms;
$page-anim-two-third: 1000ms;

body {
    font: 16px "Arimo";
    margin: 0px;
    background: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

a, a:hover,
a:active,
a:focus {
    outline: 0;
}

.hidden { isplay: none; }

.links a, .linksinv a {
    color: #444444;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    &:hover { color: red; }
}

.imglink {
    position: relative;
    z-index: 0;
    img, div {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        display: block;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    img, div {
        &:nth-child(1) { opacity: 1; z-index: 2; }
        &:nth-child(2) { opacity: 0; z-index: 1; }
    }
    &:hover img,
    &:hover div {
        &:nth-child(1) { opacity: 0; z-index: 1; }
        &:nth-child(2) { opacity: 1; z-index: 2; }
    }
}

#sinusoid-svg {
    #sinusoid-path {
        fill: none;
        stroke: white;
        stroke-width: 10;
        stroke-linecap: round;
        stroke-miterlimit: 4;
        stroke-dasharray: none;
        stroke-opacity: 1;
    }
}

.fade-enter, .fade-appear {
    opacity: 0;
    &.fade-enter-active, &.fade-appear-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.fade-leave {
    opacity: 1;
    &.fade-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}

#sinusoid {
    position: absolute;
    margin: -75px 0 0 0;
    width: 1000%;
    height: 150px;
    transform-origin: 0% 50%;
    background-color: white;
    transition: background-color 500ms ease-in-out,
    /**/        top $page-anim-full ease-in-out,
    /**/        margin-top $page-anim-full ease-in-out,
    /**/        transform $page-anim-full ease-in-out,
    /**/;
    &:hover, &.hovered { background-color: red; }

    &::after {
        background-image: url(/static/pic/sinusoid-i.svg);
        background-size: contain;
        position: absolute;
        top: -1px;
        width: 100%;
        height: 152px;
        content: "";
        transition: background-position $page-anim-full ease-in-out
    }

    @keyframes main-sin {
        from { transform: scale(1); }
        50%  { transform: scale(0.4); }
        to   { transform: scale(1); }
    }
    @keyframes init-sin {
        from { background-position: 30% 0; transform: scale(0); }
        to   { transform: scale(1); }
    }
    @keyframes do-sin {
        from { transform: scale(1); }
        50%  { transform: scale(0.3); }
        to   { transform: scale(1); }
    }
    @keyframes am-sin {
        from { transform: scale(1); }
        40%  { transform: scale(2); }
        to   { transform: scale(1); }
    }

    &.main-sin {
        &::after { background-position: 0 0; }
        top: 50%;
        animation: main-sin $page-anim-full ease-in-out;
    }
    &.do-sin {
        &::after { background-position: -70% 0; }
        top: 144px;
        animation: do-sin $page-anim-full ease-in-out;
    }
    &.not-found-sin {
        &::after { background-position: 1000px 0; }
    }
    &.am-sin {
        &::after { background-position: 80% 0; }
        top: 100%;
        margin-top: -190px;
        animation: am-sin $page-anim-full ease-in-out;
    }
    &.todo-sin {
        &::after { background-position: 100% 0; }
        top: -200px;
        transform: scale(0);
    }
    &.init-sin-last {
        animation: init-sin $page-anim-full ease-in-out;
    }
}

#not-found-page {
    display: block;
    width: 100%;
    height: 100%;

    #the-end {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 150px;
        width: 400px;
        margin: -75px 0 0 -200px;
        background-color: black;
        color: white;
        border-left: 10px solid white;
        border-right: 10px solid white;
        transition: border-color 0.5s ease-in-out;
        &.hovered {
            border-left: 10px solid red;
            border-right: 10px solid red;
        }
    }

    #dead-end {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        height: 220px;
        width: 400px;
        text-transform: uppercase;
        line-height: 110px;
        padding-left: 29px;
        font-size: 140px;
        text-decoration: none;
        span.first { letter-spacing: initial; }
        span.second { letter-spacing: 46px; }
    }
}

#main-page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    @keyframes enter-fingerprint {
        from { transform: translateX(420px); }
        40% { transform: translateX(420px); }
        to   { transform: translateX(0px); }
    }
    @keyframes enter-main-text {
        from { transform: translateX(700px); }
        50% { transform: translateX(700px); }
        to   { transform: translateX(0px); }
    }
    @keyframes enter-barcode {
        from { transform: translateX(640px); }
        60% { transform: translateX(640px); }
        to   { transform: translateX(0px); }
    }

    @keyframes leave-fingerprint {
        from { transform: translateX(0px); }
        50% { transform: translateX(420px); }
        to   { transform: translateX(420px); }
    }
    @keyframes leave-main-text {
        from { transform: translateX(0px); }
        60% { transform: translateX(700px); }
        to   { transform: translateX(700px); }
    }
    @keyframes leave-barcode {
        from { transform: translateX(0px); }
        70% { transform: translateX(640px); }
        to   { transform: translateX(640px); }
    }

    &.page-appear, &.page-enter {
        #barcode, #barcode2 { animation: enter-barcode $page-anim-full forwards; }
        #main-text { animation: enter-main-text $page-anim-full forwards; }
        #fingerprint { animation: enter-fingerprint $page-anim-full forwards; }
    }
    &.page-leave {
        #barcode, #barcode2 { animation: leave-barcode $page-anim-full forwards; }
        #main-text { animation: leave-main-text $page-anim-full forwards; }
        #fingerprint { animation: leave-fingerprint $page-anim-full forwards; }
    }

    #barcode, #barcode2 {
        position: absolute;
        width: 600px;
        height: 50%;
        right: 0;
        top: 0;
        border-right: 40px solid black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 97.5%;
        background-image: url(/static/pic/barcode-v-i-r.svg);
    }
    #barcode2 {
        top: 50%;
        transition: background-position 0.3s ease-in-out;
        &:hover { background-position: center 100.5%; }
    }

    #main-text {
        position: absolute;
        width: 523px;
        height: 148px;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-right: 111px;
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 20px;
        white-space: nowrap;
        background-color: white;
        border: 9px solid white;
        color: black;
        transition: border-color 0.5s ease-in-out;
        font-weight: normal;
        text-transform: lowercase;
        &.hovered { border-color: red; }
        a {
            color: black;
            display: inline-block;
            line-height: 23px;
            border-bottom: 14px solid black;
            &:hover { color: red; }
        }
        #main-pre-text {
            text-align: right;
            font-size: 74px;
            line-height: 1em;
        }
        #main-post-text {
            text-align: right;
            font-size: 74px;
            line-height: 1em;
        }
    }

    #fingerprint {
        background-color: white;
        border-right: black;
        position: absolute;
        top: 40px;
        right: 0px;
        padding: 8px;
        padding-left: 27px;
        padding-right: 30px;
        font-family: "Inconsolata";
        font-weight: normal;
        text-align: right;
        font-size: 25px;
        line-height: 28px;
        border-left: black;
        a {
            color: black;
            &:hover { color: red; }
        }
    }
}

#do-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #img {
        display: block;
        float: left;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }

    #body {
        float: left;
        width: 50%;
        height: 100%;
    }

    #content {
        width: 100%;
        padding: 16%;
        box-sizing: border-box;
    }

    #header {
        float: right;
        display: inline-block;
        background: white;
        margin: -2% -2% 0 0;
        padding: 10px;
        text-transform: uppercase;
        text-align: right;
        font-size: 2em;
        font-weight: bold;
    }

    #desc {
        a {
            color: white;
            &:hover { color: red; }
        }
        color: #999999;
        font-size: 1.5em;
        float: right;
        width: 100%;
        padding: 20px 0 0 0;
        box-sizing: border-box;
        line-height: 1.25em;
    }

    a.link {
        color: white;
        border: 2px solid white;
        margin-right: 10px;
        margin-bottom: 10px;
        display: block;
        float: left;
        padding: 10px;
        font-weight: bold;
        transition: border 0.2s ease-in-out,
        /**/        background 0.2s ease-in-out,
        /**/        color 0.2s ease-in-out;
        &:hover {
            color: black;
            border: 2px solid red;
            background: red;
        }
    }

    #footer {
        position: absolute;
        bottom: 0;
        right: 0;
        .prev, .next {
            display: block;
            width: 72px;
            height: 72px;
        }
        .prev {
            background: url(/static/pic/left.png);
            &.enabled:hover { background: url(/static/pic/left-red.png); }
        }
        .next {
            background: url(/static/pic/right.png);
            &.enabled:hover { background: url(/static/pic/right-red.png); }
        }
        .disabled { opacity: 0.25; }
        .close {
            display: block;
            width: 30px;
            height: 30px;
            margin: 21px;
            background-image: url(/static/pic/close.png);
            background-position: center center;
            &:hover { background-image: url(/static/pic/close-red.png); }
        }
    }
}

#do-page {
    width: 100%;

    @keyframes enter-presentation {
        from { transform: translateX(-700px); }
        40%  { transform: translateX(-700px); }
        to   { transform: translateX(0px); }
    }
    @keyframes enter-stuff {
        from { transform: translateX(-100%); }
        70%  { transform: translateX(-100%); }
        to   { transform: translateX(0px); }
    }

    @keyframes leave-presentation {
        from { transform: translateX(0px); }
        50%  { transform: translateX(-700px); }
        to   { transform: translateX(-700px); }
    }
    @keyframes leave-stuff {
        from { transform: translateX(0px); }
        40%  { transform: translateX(-100%); }
        to   { transform: translateX(-100%); }
    }

    &.page-appear, &.page-enter {
        #presentation { animation: enter-presentation $page-anim-full forwards; }
        #stuff { animation: enter-stuff $page-anim-full forwards; }
    }
    &.page-leave {
        #presentation { animation: leave-presentation $page-anim-full forwards; }
        #stuff { animation: leave-stuff $page-anim-full forwards; }
    }

    #presentation {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 500px;
        height: 150px;
        background: white;
        padding: 24px;
        padding-bottom: 18px;
        border: 8px solid white;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }
        &::before {
            position: absolute;
            top: -8px;
            left: -48px;
            display: block;
            content: "";
            width: 40px;
            height: 208px;
            background-color: black;
        }
        .title {
            font-size: 140px;
            float: left;
            font-weight: bold;
            margin-right: 20px;
            margin-top: 4px;
            padding-top: 4px;
            line-height: 140px;
            display: block;
            border-top: 8px solid white;
        }
        .intro {
            font-size: 14px;
            text-align: right;
            color: #888888;
            line-height: 20px;
        }
    }

    #stuff {
        position: absolute;
        top: 300px;
    }

    .programs {
        margin: -10px 30px 0 30px;
        a {
            display: block;
            position: relative;
            float: left;
            margin: 6px;
            background-size: contain;
            width: 125px;
            height: 125px;
            border: 0px;
            overflow: hidden;
            text-decoration: none;
            border: 4px solid black;
            transition: border-color 0.2s ease-in-out;
            div {
                position: relative;
                margin: 0;
                padding: 0;
                width: 125px;
                height: 125px;
                background: black;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
            }
            span {
                position: relative;
                top: 0px;
                left: 0px;
                display: block;
                padding: 10px;
                margin: 0;
                color: red;
                text-decoration: none;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 1.3em;
                word-break: normal;
                display: block;
                transition: transform 0.2s ease-in-out;
            }
            &:hover {
                border-color: red;
                div { opacity: 0.7; }
                span { transform: translate(0, -120px); }
            }
        }
    }

    #language-links {
        margin: 40px 0 30px 40px;
        a, .filter {
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: #777777;
            padding: 10px;
            margin-right: 0px;
            margin-top: 2px;
            font-weight: bold;
            transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
            &.on {
                border-bottom: 2px solid red;
                margin-bottom: -2px;
            }
            &.cv {
                color: white;
                border-right: 1px solid #777777;
            }
            &.clearf {
                color: red;
                border-left: 1px solid red;
            }
            &:hover {
                background: red;
                color: white;
                &.on {
                    border-bottom: 2px solid white;
                    margin-bottom: -2px;
                }
            }
        }
    }
}

#am-page {
    @keyframes enter-i {
        from { transform: translateX(150%); }
        60%  { transform: translateX(150%); }
        100%   { transform: translateX(0px); }
    }
    @keyframes enter-am {
        from { transform: translateX(150%); }
        50%  { transform: translateX(150%); }
        90%   { transform: translateX(0px); }
    }
    @keyframes enter-not {
        from { transform: translateX(150%); }
        70%  { transform: translateX(150%); }
        100%   { transform: translateX(0px); }
    }
    @keyframes enter-profile {
        from { opacity: 0; }
        to  { opacity: 1; }
    }

    @keyframes leave-i {
        20% { transform: translateX(0); }
        60%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-am {
        10% { transform: translateX(0); }
        50%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-not {
        from { transform: translateX(0); }
        60%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-profile {
        from { opacity: 1; }
        to  { opacity: 0; }
    }

    &.page-appear, &.page-enter {
        div#i { animation: enter-i $page-anim-full forwards; }
        div#am { animation: enter-am $page-anim-full forwards; }
        div#not { animation: enter-not $page-anim-full forwards; }
        #profiles div {
            opacity: 0;
            animation: enter-profile forwards;
        }
    }
    &.page-leave {
        div#i { animation: leave-i $page-anim-full forwards; }
        div#am { animation: leave-am $page-anim-full forwards; }
        div#not { animation: leave-not $page-anim-full forwards; }
        #profiles div { animation: leave-profile forwards; }
    }

    #am-block {
        padding: 0px;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 400px;
        height: 600px;
        margin: 0 0 0 0;
        font-size: 140px;
        font-weight: bold;
        line-height: 140%;
        text-align: right;
        vertical-align: bottom;
        display: inline-block;
        div {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            p {
                color: black;
                background: white;
                display: inline;
                transition: box-shadow 0.5s ease-in-out;
                border-right: 40px solid black;
            }
        }
        &.hovered {
            p { box-shadow: inset 0 0 0 8px red; }
        }
    }

    #profiles {
        position: absolute;
        width: 70%;
        top: 0;
        display: block;
        padding: 30px 0px 0 0px;
        div {
            transition: padding-top 0.5s ease-in-out, padding-left 0.5s ease-in-out;
            font-size: 74px;
            display: block;
            float: left;
            text-align: center;
            box-sizing: border-box;
            height: 100px;
            width: 160px;
            border: 0px solid red;
            margin: 0 0px 0 0px;
        }
    }
}

#todo-page {

    @keyframes enter-sinusoid {
        from { transform: translateX(-60vw) scale(0.3); }
        40%  { transform: translateX(-60vw) scale(0.1); }
        to   { transform: translateX(0px) scale(1); }
    }
    @keyframes enter-sinusoid-after {
        from { background-position: 0 80%; }
        40%  { background-position: 0 80%; }
        to   { background-position: 0 0; }
    }
    @keyframes enter-todo-block {
        from { transform: translateY(120%); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(0); }
    }

    @keyframes leave-sinusoid {
        from { transform: translateX(0) scale(1); }
        60%  { transform: translateX(70vw) scale(2.5); }
        to   { transform: translateX(70vw); }
    }
    @keyframes leave-sinusoid-after {
        from { background-position: 0 0; }
        60%  { background-position: 0 -30%; }
        to   { background-position: 0 -30%; }
    }
    @keyframes leave-todo-block {
        from { transform: translateY(0); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(140%); }
    }

    &.page-appear, &.page-enter {
        #sinusoid-todo { animation: enter-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::after { animation: enter-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: enter-todo-block $page-anim-full forwards; }
    }
    &.page-leave {
        #sinusoid-todo { animation: leave-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::after { animation: leave-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: leave-todo-block $page-anim-full forwards; }
    }

    #sinusoid-todo {
        position: absolute;
        margin: 0 0 0 -75px;
        width: 150px;
        height: 1000%;
        top: 0;
        left: 50%;
        background-color: white;
        transform-origin: 50% 0;
        transition: background-color 500ms ease-in-out;
        &:hover, &.hovered { background-color: red; }
        &::after {
            background-image: url(/static/pic/sinusoid-i-v.svg);
            background-size: contain;
            position: absolute;
            left: -1px;
            height: 100%;
            width: 152px;
            content: "";
            transition: background-position $page-anim-full ease-in-out;
        }
    }

    #todo-block {
        background: white;
        align: center;
        width: 500px;
        padding: 32px 32px 0px 40px;
        padding-top: 0px;
        border: 8px solid white;
        position: absolute;
        left: 50%;
        bottom: 40px;
        margin: 0 0 0 -290px;
        font-size: 160px;
        font-weight: bold;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }
        &::after {
            position: absolute;
            bottom: -48;
            left: -8px;
            display: block;
            content: "";
            width: 588px;
            height: 40px;
            background-color: black;
        }
    }
}

.clear {
    width: 100%;
    clear: both !important;
    display: block;
}
