<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="router"></div>
    <div id="components"></div>
    <script src="/js/release/sinusoides.js" type="text/javascript"></script>
    <table id="jslicense-labels1" class="hidden">
      <thead>
        <tr>
          <th>Script</th>
          <th>License</th>
          <th>Source</th>
        </tr>
      </thead>
      <tr>
        <td><a href="/js/release/sinusoides.js">sinusoid.js</a></td>
        <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU-AGPL-3.0-or-later</a></td>
        <td><a href="https://www.github.com/arximboldi/sinusoides">GitHub</a></td>
      </tr>
    </table>
  </body>
</html>
