AddType application/json .json

Options -MultiViews
RewriteEngine On

RewriteBase /

RewriteRule ^files/(.*)$ /static/files/$1 [L]
RewriteRule ^pic/(.*)$ /static/pic/$1 [L]
RewriteRule ^screens/(.*)$ /static/screens/$1 [L]
RewriteRule ^soft/(.*)$ /static/soft/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^debug(.*)$ /views/debug.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /views/index.html [L]

RewriteRule ^$ /views/index.html [L]
