<html>
  <head>
    <base href="/debug/">
    <meta charset="utf-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="router"></div>
    <div id="components"></div>
    <script type="text/javascript">
      window.SINUSOIDES_DEBUG_MODE = true;
    </script>
    <script src="/ext/Showdown.js"></script>
    <script src="/build/debug/out/goog/base.js" type="text/javascript"></script>
    <script src="/build/debug/out/cljs_deps.js" type="text/javascript"></script>
    <script type="text/javascript">goog.require("sinusoides.core");</script>
  </body>
</html>
