AddType application/json .json

Options -MultiViews
RewriteEngine On

RewriteBase /

RewriteRule ^files/(.*)$ /static/files/$1 [L]
RewriteRule ^pic/(.*)$ /static/pic/$1 [L]
RewriteRule ^screens/(.*)$ /static/screens/$1 [L]
RewriteRule ^soft/(.*)$ /static/soft/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^debug(.*)$ /views/debug.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /views/release.html [L]
RewriteRule ^$ /views/release.html [L]

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/octet-stream
</IfModule>
