@import '../global';

#am-page {
    @keyframes enter-i {
        from { transform: translateX(150%); }
        60%  { transform: translateX(150%); }
        100%   { transform: translateX(0); }
    }
    @keyframes enter-am {
        from { transform: translateX(150%); }
        50%  { transform: scale(1.5) translateX(150%); }
        90%   { transform: translateX(0); }
    }
    @keyframes enter-not {
        from { transform: translateX(150%); }
        70%  { transform: scale(2) translateX(150%); }
        100%   { transform: translateX(0); }
    }
    @keyframes enter-profile {
        from { opacity: 0; }
        to  { opacity: 1; }
    }

    @keyframes leave-i {
        20% { transform: translateX(0); }
        60%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-am {
        10% { transform: translateX(0); }
        50%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-not {
        from { transform: translateX(0); }
        60%  { transform: translateX(150%); }
        to   { transform: translateX(150%); }
    }
    @keyframes leave-profile {
        from { opacity: 1; }
        to  { opacity: 0; }
    }

    &.page-appear, &.page-enter {
        div#i { animation: enter-i $page-anim-full forwards; }
        div#am { animation: enter-am $page-anim-full forwards; }
        div#not { animation: enter-not $page-anim-full forwards; }
    }
    &.page-leave {
        div#i { animation: leave-i $page-anim-full forwards; }
        div#am { animation: leave-am $page-anim-full forwards; }
        div#not { animation: leave-not $page-anim-full forwards; }
        #profiles a { animation: leave-profile forwards; }
    }

    #am-block {
        position: absolute;
        pointer-events: none;
        right: 0;
        bottom: 0;
        width: 100%;
        margin: 0 0 0 0;
        padding-bottom: 0.5rem;
        padding-right: 0.29em;
        vertical-align: bottom;
        display: inline-block;
        text-align: right;
        font-size: 8.75rem;

        @include respond-to(mobile) {
            font-size: 4.6rem;
        }

        div {
            line-height: 1.42em;
            font-weight: bold;
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            &#not {
                font-size: 1.14em;
            }
            p {
                color: black;
                background: white;
                display: inline;
                transition: box-shadow 0.5s ease-in-out;
            }
            &::after {
                content: "";
                background-color: black;
                position: absolute;
                height: 100%;
                width: 1em;
            }
        }
        &.hovered {
            p { box-shadow: inset 0 0 0 0.5rem red; }
        }
    }

    #profiles {
        position: absolute;
        width: 100%;
        top: 0;
        display: block;
        padding-right: 1.875em;

        @include respond-to(mobile) {
            padding-right: 0;
        }
        @include respond-to(landscape) {
            width: 70%;
            @include respond-to(mobile) {
                width: 80%;
            }
        }

        a {
            transition: padding-top 0.5s ease-in-out, padding-left 0.5s ease-in-out;
            font-size: 4.625em;
            display: block;
            float: left;
            text-align: center;
            box-sizing: border-box;
            height: 1.35em;
            width: 2.16em;
            margin: 0;

            @include respond-to(mobile) {
                font-size: 3.8em;
            }

            span {
                text-shadow: 2px 2px #fff;
                color: black;
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                span {
                    color: black;
                    text-shadow: 2px 2px red;
                }
            }
            &.profile-enter, &.profile-appear {
                opacity: 0;
                animation: enter-profile forwards;
            }
        }
    }
}
