@import '../global';

#do-page {
    @keyframes enter-presentation {
        from { transform: translateX(-120%); }
        40%  { transform: scale(2) translateX(-120%); }
        to   { transform: scale(1) translateX(0); }
    }
    @keyframes enter-stuff {
        from { transform: translateX(-100%); }
        70%  { transform: translateX(-100%); }
        to   { transform: translateX(0); }
    }

    @keyframes leave-presentation {
        from { transform: translateX(0); }
        50%  { transform: translateX(-130%); }
        to   { transform: translateX(-130%); }
    }
    @keyframes leave-stuff {
        from { transform: translateX(0); }
        40%  { transform: translateX(-130%); }
        to   { transform: translateX(-130%); }
    }

    &.page-appear, &.page-enter {
        #presentation { animation: enter-presentation $page-anim-full forwards; }
        #stuff { animation: enter-stuff $page-anim-full forwards; }
    }
    &.page-leave {
        #presentation { animation: leave-presentation $page-anim-full forwards; }
        #stuff { animation: leave-stuff $page-anim-full forwards; }
    }

    #presentation {
        position: absolute;
        font-size: 9.4em;
        top: 2.62rem;
        height: 1em;
        left: 0;
        background: black;
        color: white;
        border-right: 0.5rem solid white;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }
        .title {
            line-height: 1.4em;
            font-size: 0.75em;
            margin-left: 0.28em;
            margin-right: 0.26em;
            display: block;
        }
    }

    #stuff {
        position: absolute;
        top: 13.75em;
        width: 100%;
    }

    .filters {
        position: relative;
        font-family: $mono-font;
        font-size: 1.1em;

        .filter-group {
            clear: both;
            text-align: left;
            position: relative;
            padding-left: 2.27em;
            margin: 0.57em 0;
        }

        a, .header, .filter {
            @extend .noselect;
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: #888;
            margin: 0.23em 0.56em;
            text-transform: lowercase;
            transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
            &.header {
                position: absolute;
                margin-left: -1.8em;
                color: white;
                font-weight: bold;
            }
            &.filter {
                cursor: pointer;
            }
            &.on {
                color: white;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    margin-top: 0.22em;
                    border-bottom: 2px solid white;
                    transition: border-color 0.2s ease;
                    width: 100%;
                }
            }
            &.cv {
                font-weight: bold;
                color: white;
            }
            &.clearf {
                font-weight: bold;
                color: red;
            }
            &:hover {
                color: red;
                &::after {
                    border-color: red;
                }
            }
        }
    }

    .filters {
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        padding: 0 1.7em 0.57em 1.7em;
    }

    .programs {
        @extend .clearfix;
        @extend .noselect;
        display: block;
        box-sizing: border-box;
        margin: 0 2.25rem 2.25rem 2.25rem;
        a {
            display: block;
            box-sizing: border-box;
            position: relative;
            float: left;
            background-color: #333;
            background-size: contain;
            width: 100%;
            height: 100%;
            border: 0;
            overflow: hidden;
            text-decoration: none;
            border: 0.25rem solid black;
            transition: border-color 0.2s ease-in-out;
            div {
                background-size: contain;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include filter(grayscale(100%));
                transition: opacity 0.5s ease;
            }
            span {
                position: absolute;
                box-sizing: border-box;
                display: block;
                height: 100%;
                width: 100%;
                padding: 10%;
                color: red;
                text-decoration: none;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 1.2em;
                hyphens: manual;
                display: block;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.8);
                transform: scale(2, 2);
                transition: opacity 0.2s ease, transform 0.2s ease-in-out;
            }
            &:hover {
                border-color: red;
                div {
                    opacity: 1;
                }
                span {
                    opacity: 1;
                    transform: scale(1, 1);
                }
            }
        }
    }

    .slideshow {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;

        @keyframes enter-detail {
            from { background-color: transparent; }
            to   { background-color: black; }
        }

        @keyframes leave-detail {
            from { background-color: black; }
            to   { background-color: transparent; }
        }

        &.slideshow-appear, &.slideshow-enter {
            animation: enter-detail 1s forwards;
            .left-side { animation: enter-left 1s forwards; }
            .right-side { animation: enter-right 1s forwards; }
        }

        &.slideshow-leave {
            animation: leave-detail 1s forwards;
            .left-side { animation: leave-left 1s forwards; }
            .right-side { animation: leave-right 1s forwards; }
        }

        .slideshow-item {
            position: absolute;
            width: 100%;
            height: 100%;

            .do-detail {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            @keyframes enter-right {
                from { transform: translateX(100%); }
                to   { transform: translateX(0); }
            }
            @keyframes enter-left {
                from { transform: translateX(-100%); }
                to   { transform: translateX(0); }
            }
            @keyframes leave-left {
                from { transform: translateX(0); }
                to   { transform: translateX(-100%); }
            }
            @keyframes leave-right {
                from { transform: translateX(0); }
                to   { transform: translateX(100%); }
            }
            @keyframes leave-fade {
                from { opacity: 1; }
                to   { opacity: 0; }
            }

            &.swipe-left-enter  { animation: none; }
            &.swipe-left-leave  { animation: none; }
            &.swipe-right-enter { animation: none; }
            &.swipe-right-leave { animation: none; }

            &.swipe-left-enter .img  { animation: enter-left 500ms forwards; }
            &.swipe-left-leave .img  { animation: leave-fade 500ms forwards; }
            &.swipe-right-enter .img { animation: enter-right 500ms forwards; }
            &.swipe-right-leave .img { animation: leave-fade 500ms forwards; }

            &.swipe-left-enter .content  { animation: enter-left 500ms forwards; }
            &.swipe-left-leave .content  { animation: leave-fade 500ms forwards; }
            &.swipe-right-enter .content { animation: enter-right 500ms forwards; }
            &.swipe-right-leave .content { animation: leave-fade 500ms forwards; }

            .left-side {
                overflow: hidden;
                position: fixed;
                left: 0;
                width: 50%;
                height: 100%;

                @include respond-to(portrait) {
                    position: absolute;
                    width: 100vw;
                    height: 61.80vw;
                }
            }

            .right-side {
                position: absolute;
                right: 0;
                width: 50%;
                height: 100%;

                @include respond-to(portrait) {
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100%;
                }
            }

            .img {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                background-color: #333;
            }

            .content {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 16%;
                box-sizing: border-box;
                background-color: black;

                @include respond-to(mobile) {
                    padding: 12%;
                    @include respond-to(landscape) {
                        font-size: 0.9em;
                    }
                }
                @include respond-to(portrait) {
                    background-color: transparent;
                }
            }

            .header {
                float: right;
                display: inline-block;
                background: white;
                margin: -2% -2% 0 0;
                padding: 0.31em 0.62em;
                text-transform: uppercase;
                text-align: right;
                font-size: 2em;
                font-weight: bold;

                @include respond-to(portrait) {
                    position: absolute;
                    right: 0;
                    bottom: calc(100vh - 61.80vw);
                    margin-bottom: 1em;
                }
            }

            .desc {
                a {
                    color: white;
                    &:hover { color: red; }
                }
                color: #aaa;
                font-size: 1.4em;
                line-height: 1.5em;
                float: right;
                padding: 1.25rem 0 0 0;
                box-sizing: border-box;

                @include respond-to(portrait) {
                    position: absolute;
                    top: 61.80vw;
                    left: 0;
                    padding: 16%;
                    padding-top: 1em;
                    padding-bottom: 2em;
                    margin-top: 0;
                    background-color: black;
                    opacity: 1;

                    @include respond-to(mobile) {
                        padding: 12%;
                        padding-top: 0.5em;
                        padding-bottom: 2em;
                    }
                }
            }

            a.link {
                @extend .noselect;
                color: white;
                border: 2px solid white;
                font-size: 1rem;
                margin-right: 0.7em;
                margin-bottom: 0.7em;
                display: block;
                float: left;
                padding: 0.625em 0.875em;
                font-weight: bold;
                transition: border 0.2s ease-in-out,
                /**/        background 0.2s ease-in-out,
                /**/        color 0.2s ease-in-out;
                &:hover {
                    color: black;
                    border: 2px solid red;
                    background: red;
                }
            }
        }
    }

}
