@import '../global';

#main-page {
    @keyframes enter-fingerprint {
        from { transform: scale(0.5) translateX(200%); }
        40%  { transform: scale(0.5) translateX(200%); }
        to   { transform: translateX(0); }
    }
    @keyframes enter-main-text {
        from { transform: scale(1.5) translateX(calc(50vw + 100%)); }
        50%  { transform: scale(1.5) translateX(calc(50vw + 100%)); }
        to   { transform: translateX(0); }
    }
    @keyframes enter-barcode {
        from { transform: translateX(110%); }
        60%  { transform: translateX(110%); }
        to   { transform: translateX(0); }
    }

    @keyframes leave-fingerprint {
        from { transform: translateX(0); }
        50%  { transform: translateX(110%); }
        to   { transform: translateX(110%); }
    }
    @keyframes leave-main-text {
        from { transform: translateX(0); }
        60%  { transform: translateX(100vw); }
        to   { transform: translateX(100vw); }
    }
    @keyframes leave-barcode {
        from { transform: translateX(0); }
        70%  { transform: translateX(110%); }
        to   { transform: translateX(110%); }
    }

    &.page-appear, &.page-enter {
        .barcode, .barcode2 { animation: enter-barcode $page-anim-full forwards; }
        .main-text { animation: enter-main-text $page-anim-full forwards; }
        .fingerprint { animation: enter-fingerprint $page-anim-full forwards; }
    }
    &.page-leave {
        .barcode, .barcode2 { animation: leave-barcode $page-anim-full forwards; }
        .main-text { animation: leave-main-text $page-anim-full forwards; }
        .fingerprint { animation: leave-fingerprint $page-anim-full forwards; }
    }

    .barcode, .barcode2 {
        position: absolute;
        width: 37.5em;
        height: 50%;
        right: 0;
        top: 0;
        border-right: 2.5em solid black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 97.5%;
        background-image: url(/static/pic/barcode-v-i-r.svg);
        @include respond-to(mobile) {
            font-size: 0.45em;
        }
    }
    .barcode2 {
        top: 50%;
        transition: background-position 0.3s ease-in-out;
        &:hover { background-position: center 100.5%; }
    }

    .main-text {
        @extend .noselect;
        position: absolute;
        box-sizing: border-box;
        width: 6.7em;
        height: 6.7em;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        padding-right: 1em;
        padding-top: 0.5em;

        white-space: nowrap;
        background-color: black;
        color: white;
        border: 0.5rem solid white;

        font-weight: normal;
        font-size: 3.75em;
        text-align: right;
        line-height: 1.26em;
        text-transform: lowercase;

        @include respond-to(mobile) {
            font-size: 2.5em;
            border-width: 0.35rem;
        }

        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }

        .parts {
            width: 100%;
            height: 1.26em;
            .part {
                width: 100%;
                height: 0;
                transition: opacity 2s ease-in-out;
                &.part-enter { opacity: 0; }
                &.part-enter-active { opacity: 1; }
                &.part-leave { opacity: 1; }
                &.part-leave-active { opacity: 0; }
            }
        }

        .questionmark {
            display: inline-block;
            width: 0;
        }

        a {
            color: white;
            display: inline-block;
            text-decoration: none;
            line-height: 1.07em;
            border-bottom: 0.2rem solid white;
            transition: color 0.3s ease-in-out,
            /**/        border-color 0.3s ease-in-out;
            &:hover { color: red; border-bottom-color: red; }
        }
    }

    .fingerprint {
        background-color: white;
        border-right: black;
        position: absolute;
        top: 1.6em;
        right: 0;
        padding: 0.32em;
        padding-left: 1.08em;
        padding-right: 1.2em;
        font-weight: normal;
        text-align: right;
        font-size: 1.57em;
        line-height: 1.12em;
        border-left: black;

        @include respond-to(mobile) {
            font-size: 1.3em;
        }

        a {
            color: black;
            &:hover { color: red; }
        }
    }
}

.fingerprint { font-family: $mono-font-stack; }
.mono-font-loaded .fingerprint { font-family: $mono-font; }
