@import '../global';

#not-found-page {
    @extend .noselect;

    pointer-events: auto;
    font-size: 8.75em;
    @include respond-to(mobile) {
        font-size: 5em;
    }

    @keyframes enter-the-end {
        from { width: 0; height: 0; }
        30%  { width: 0; height: 0; }
        50%  { width: 0; height: 1.07em; }
        to   { width: 2.85em; height: 1.07em; }
    }
    @keyframes enter-dead-end {
        from { width: 0; }
        50%  { width: 0; }
        to   { width: 2.85em; }
    }

    @keyframes leave-the-end {
        from { width: 2.85em; height: 1.07em; }
        50%  { width: 0; height: 1.07em; }
        70%  { width: 0; height: 0; }
        to   { width: 0; height: 0; }
    }
    @keyframes leave-dead-end {
        from { width: 2.85em; }
        50%  { width: 0; }
        to   { width: 0; }
    }

    &.page-appear, &.page-enter {
        .the-end { animation: enter-the-end $page-anim-full forwards; }
        .dead-end { animation: enter-dead-end $page-anim-full forwards; }
    }
    &.page-leave {
        .the-end { animation: leave-the-end $page-anim-full forwards; }
        .dead-end { animation: leave-dead-end $page-anim-full forwards; }
    }

    .the-end {
        position: absolute;
        height: 1.07em;
        width: 2.85em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: black;
        color: white;
        border-left: 0.071em solid white;
        border-right: 0.071em solid white;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }
    }

    .dead-end {
        position: absolute;
        overflow: hidden;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        height: 1.57em;
        width: 2.85em;
        text-transform: uppercase;
        text-align: left;
        line-height: 0.78em;
        padding-left: 0.071em;
        text-decoration: none;
        span.first { letter-spacing: initial; }
        span.second { letter-spacing: 0.33em; }
    }
}
