
.slideshow {
    @keyframes leave-slideshow-footer {
        from { opacity: 1; }
        to   { opacity: 0; }
    }

    @keyframes enter-slideshow-footer {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes slideshow-enter-right {
        from { transform: translateX(100vw); }
        to   { transform: translateX(0); }
    }

    @keyframes slideshow-enter-left {
        from { transform: translateX(-100vw); }
        to   { transform: translateX(0); }
    }

    @keyframes slideshow-enter-fade {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes slideshow-leave-fade {
        from { opacity: 1; }
        to   { opacity: 0; }
    }

    &.slideshow-appear, &.slideshow-enter {
        animation: slideshow-enter-fade 1s forwards;
        .slideshow-controls { animation: enter-slideshow-footer 1s forwards; }
    }
    &.slideshow-leave {
        animation: slideshow-leave-fade 1s forwards;
        .slideshow-controls { animation: leave-slideshow-footer 1s forwards; }
    }

    .slideshow-item {
        position: absolute;
        width: 100%;
        height: 100%;
        &.swipe-left-enter  { animation: slideshow-enter-left 500ms forwards; }
        &.swipe-left-leave  { animation: slideshow-leave-fade 500ms forwards; }
        &.swipe-right-enter { animation: slideshow-enter-right 500ms forwards; }
        &.swipe-right-leave { animation: slideshow-leave-fade 500ms forwards; }
    }

    .slideshow-controls {
        z-index: 1000;
        position: fixed;
        bottom: 0;
        right: 0;
        .control {
            display: block;
            width: 4.5rem;
            height: 4.5rem;
            margin-right: 0.6rem;

            @include respond-to(mobile) {
                margin-right: 0;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
