@import '../global';

#think-page {
    @keyframes enter-title {
        from { transform: scale(1.5) translateX(-100%) translateY(130%); }
        60%  { transform: scale(1.5) translateX(-100%) translateY(130%); }
        to   { transform: scale(1) translateY(0); }
    }
    @keyframes enter-stuff {
        from { opacity: 0; }
        70%  { opacity: 0; }
        to   { opacity: 1; }
    }
    @keyframes enter-filters {
        from { opacity: 0; }
        60%  { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes leave-title {
        from { transform: translateY(0); }
        20%  { transform: translateY(200%); }
        to   { transform: translateY(200%); }
    }
    @keyframes leave-stuff {
        from { opacity: 1; }
        40%  { opacity: 0; }
        to   { opacity: 0; }
    }
    @keyframes leave-filters {
        from { opacity: 1; }
        30%  { opacity: 0; }
        to   { opacity: 0; }
    }

    &.page-appear, &.page-enter {
        .title { animation: enter-title $page-anim-full forwards; }
        .stuff { animation: enter-stuff $page-anim-full forwards; }
        .filters { animation: enter-filters $page-anim-full forwards; }
    }
    &.page-leave {
        .title { animation: leave-title $page-anim-full forwards; }
        .stuff { animation: leave-stuff $page-anim-full forwards; }
        .filters { animation: enter-filters $page-anim-full forwards; }
    }

    .title {
        position: fixed;
        bottom: 0;
        left: 2.5rem;
        width: 2.5em;
        color: white;
        padding-bottom: 1.25rem;
        padding-top: 0.25rem;
        background-color: black;
        font-size: 3.75em;
        text-transform: uppercase;
        border-top: 0.13em solid white;
        transition: border-top-color 0.5s ease-in-out;
        &.hovered { border-top-color: red; }

        @include respond-to(mobile) {
            font-size: 2em;
        }
    }

    .filters {
        @extend .noselect;
        margin: 1.25em 2.125em 0.375em 0;
        float: right;
        .filter-button {
            display: inline-block;
            cursor: pointer;
            margin: 0.375em;
            padding: 0.5em;
            border: 0.25em solid transparent;
            transition: border-color 0.3s ease;
            &.enabled {
                border-color: white;
            }
            @include hover-or-active {
                &.enabled { border-color: red; }
                .segment { background-color: red; }
            }
        }
    }

    .stuff {
        @extend .clearfix;
        clear: both;
        margin-left: 16.875rem;
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
        color: white;

        @include respond-to(mobile) {
            margin-left: 10.5rem;
        }

        .thingy {
            @extend .noselect;
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            right: 0;
            border: 4px solid white;
            padding: 8%;
            transition: border-color 0.5s ease-in-out,
            /**/        color 0.5s ease-in-out;
            text-decoration: none;
            color: white;

            @include hover-or-active {
                color: red;
                border-color: red;
            }

            &.text {
                font-size: 1.7em;
            }

            &.sound {
                padding: 0;
                border: 0;
                background-color: #333;
                .open {
                    position: absolute;
                    padding: 10px;
                    top: 0;
                    right: 0;
                    transition: fill 0.3s ease, opacity 0.5s ease;
                    opacity: 0;
                }
                &:hover .open { opacity: 1; }
                @include respond-to(touch) {
                    .open {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .slideshow {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .detail {
        @extend .linksinv;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        color: white;

        &.sound {
            box-sizing: border-box;
            padding: 2.5em;

            .left-side {
                position: absolute;
                width: 40vw;
                height: 40vw;
                right: 50%;
                top: 0;
                bottom: 0;
                margin: auto 1.25em;

                @include respond-to(portrait) {
                    width: 80vw;
                    height: 80vw;
                    left: 10vw;
                    top: 10vw;
                    margin: 0;
                }
            }

            .right-side {
                position: absolute;
                overflow: hidden;
                box-sizing: border-box;
                width: 40vw;
                height: 40vw;
                left: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
                padding: 0 1.25em;

                @include respond-to(portrait) {
                    width: 80vw;
                    height: auto;
                    left: 10vw;
                    top: 96vw;
                    margin: 0;
                    padding: 0;
                    overflow: visible;
                }

                @include respond-to(mobile) {
                    font-size: 0.94em;
                }

                .name {
                    font-size: 2em;
                    margin: 0 -2% 1em 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    @include respond-to(mobile) {
                        font-size: 1.5em;
                    }
                }

                .desc, .date {
                    font-size: 1.2em;
                    color: #ccc;
                    font-family: $serif-font;
                }

                .footer {
                    position: absolute;
                    bottom: 0;
                    background-color: black;

                    @include respond-to(portrait) {
                        position: static;
                        margin-top: 2em;
                        margin-bottom: 2em;
                    }
                }

                .tags {
                    font-family: $mono-font;
                    color: #777;
                    margin-bottom: 0.625em;
                }

                .to-soundcloud {
                    text-transform: uppercase;
                    font-size: 0.75em;
                }
            }
        }

        &.text {
            background-color: black;
            outline: none;

            .content {
                @extend .linksinv;
                margin: 3.75em auto;
                padding: 0 5%;
                max-width: 29em;
                font-family: $serif-font;
                font-size: 1.46em;
                line-height: 1.55;
                h1 {
                    margin-top: 2em;
                    margin-bottom: 1.6em;
                    text-align: center;
                    font-size: 2.5em;
                    font-weight: bold;
                    line-height: 1.2;
                    font-family: $mono-font;
                    text-transform: lowercase;
                    &::after {
                        position: absolute;
                        display: block;
                        margin: 0.5em auto;
                        content: "";
                        width: 1.9em;
                        left: 0;
                        right: 0;
                        background-image: url(/static/pic/sinusoid-b.svg);
                        background-size: contain;
                        height: 0.4em;
                    }
                }
                p {
                    color: #ccc;
                }
            }
        }
    }

    .slideshow-item {
    }
}
