@import '../global';

$__plyr-range-track-height: 20px;

.plyr {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-size: cover;

    .plyr__controls { opacity: 0; }
    .plyr__controls:hover { opacity: 1; }
    &.plyr--playing .plyr__controls { opacity: 1; }

    .plyr__controls {
        border: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.5);

        [data-plyr='play'],
        [data-plyr='pause'],{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding: 20px;
            background-color: transparent;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
            &:hover {
                background-color: transparent;
                opacity: 1;
            }
            svg {
                width: 100%;
                height: 100%;
                color: white;
                padding: 80px;
            }
        }

        [data-plyr='seek'],{
            height: 100%;
        }

        input[type='range'] {
            display: block;
            height: $__plyr-range-track-height;
            width: 100%;
            margin: 0;
            padding: 0;
            opacity: 0;
        }

        .plyr__progress {
            position: absolute;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            bottom: 0;
            width: 100%;
            opacity: 0.5;
            &:hover { opacity: 1; }
            transition: opacity 0.3s ease-in-out;
        }

        progress {
            margin: 0;
            padding: 0;
            top: 0;
            height: $__plyr-range-track-height;
            border-radius: 0px;
            border: 0;
            &.plyr__progress--played { color: red; }
            &.plyr__progress--buffer { color: white; background: #444; }
            &::-webkit-progress-bar { }
            &::-webkit-progress-value {
                border-radius: 0px;
                min-width: 0;
            }
            &::-moz-progress-bar {
                border-radius: 0px;
                min-width: 0;
            }
            &::-ms-fill { border-radius: 0px; }
        }
    }
}

#think-page {
    @keyframes enter-title {
        from { transform: scale(1.3) translateY(130%); }
        60%  { transform: scale(1.3) translateY(130%); }
        to   { transform: scale(1) translateY(0px); }
    }
    @keyframes enter-stuff {
        from { opacity: 0; }
        70%  { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes leave-title {
        from { transform: translateY(0px); }
        50%  { transform: translateY(100%); }
        to   { transform: translateY(100%); }
    }

    @keyframes leave-stuff {
        from { opacity: 1; }
        40%  { opacity: 0; }
        to   { opacity: 0; }
    }

    &.page-appear, &.page-enter {
        #title { animation: enter-title $page-anim-full forwards; }
        #stuff { animation: enter-stuff $page-anim-full forwards; }
    }
    &.page-leave {
        #title { animation: leave-title $page-anim-full forwards; }
        #stuff { animation: leave-stuff $page-anim-full forwards; }
    }

    #title {
        position: fixed;
        bottom: 0;
        left: 40px;
        width: 150px;
        color: white;
        background-color: black;
        font-size: 60px;
        text-transform: uppercase;
        border-top: 8px solid white;
        transition: border-top-color 0.5s ease-in-out;
        &.hovered { border-top-color: red; }
    }

    #stuff {
        padding: 40px;
        position: absolute;
        left: 210px;
        color: white;
        font-size: 1.7em;

        .thingy {
            box-sizing: border-box;
            position: relative;
            float: left;
            width: 260px;
            height: 260px;
            border: 4px solid white;
            padding: 20px;
            margin: 10px;
            transition: border-color 0.5s ease-in-out,
            /**/        color 0.5s ease-in-out;

            &:hover {
                color: red;
                border-color: red;
            }

            &.soundcloud {
                padding: 0px;
                border: 0px;
            }
        }
    }
}
