@import '../global';

#todo-page {
    @keyframes enter-todo-block {
        from { transform: translateY(120%); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(0); }
    }

    @keyframes leave-todo-block {
        from { transform: translateY(0); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(140%); }
    }

    &.page-appear, &.page-enter {
        #sinusoid-todo { animation: enter-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::before { animation: enter-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: enter-todo-block $page-anim-full forwards; }
    }
    &.page-leave {
        #sinusoid-todo { animation: leave-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::before { animation: leave-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: leave-todo-block $page-anim-full forwards; }
    }

    #todo-block {
        position: absolute;
        left: 50%;
        bottom: 40px;
        margin: 0 0 0 -290px;
        width: 500px;
        padding: 32px 32px 0px 40px;
        padding-top: 0px;
        border: 8px solid white;
        background: white;
        align: center;
        font-size: 160px;
        font-weight: bold;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }
        &::after {
            position: absolute;
            bottom: -48;
            left: -8px;
            display: block;
            content: "";
            width: 588px;
            height: 40px;
            background-color: black;
        }
    }
}
