@import '../global';

#todo-page {
    @keyframes enter-todo-block {
        from { transform: translateY(140%); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(0); }
    }

    @keyframes leave-todo-block {
        from { transform: translateY(0); }
        60%  { transform: translateY(140%); }
        to   { transform: translateY(140%); }
    }

    &.page-appear, &.page-enter {
        #sinusoid-todo { animation: enter-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::before { animation: enter-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: enter-todo-block $page-anim-full forwards; }
    }
    &.page-leave {
        #sinusoid-todo { animation: leave-sinusoid $page-anim-full forwards; }
        #sinusoid-todo::before { animation: leave-sinusoid-after $page-anim-full forwards; }
        #todo-block { animation: leave-todo-block $page-anim-full forwards; }
    }

    #todo-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2.5rem;
        margin: 0 auto;
        width: 3.125em;
        padding: 0.2em 0.2em 0 0.25em;
        padding-top: 0;
        border: 0.5rem solid white;
        background: white;
        align: center;
        font-size: 10em;
        font-weight: bold;
        transition: border-color 0.5s ease-in-out;
        &.hovered { border-color: red; }

        @include respond-to(mobile) {
            font-size: 5.6rem;
        }

        &::after {
            position: absolute;
            top: calc(100% + 0.5rem);
            left: -0.5rem;
            display: block;
            content: "";
            width: 3.675em;
            height: 3rem;
            background-color: black;
        }
    }
}
